files:
    /etc/nginx/conf.d/cors.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            location \ {
                add_header 'Access-Control-Allow-Origin' 'http://crowdcheckwebdev-env.eba-xnta3tdz.ap-northeast-2.elasticbeanstalk.com';
                add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            }